<h1>Edit <%= @figure.name %></h1>
<form action="/figures/<%= @figure.id %>" method="post">
  <!-- <input type="hidden" name="_method" value="patch"> -->
  <label>Figure Name:<input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name %>"></label>
  <br><br>

  <h3>Enter a new title</h3>
  <label>Title:<input type="text" id="new_title" name="title[name]" ></label>
  <br>
  <h3>Or, choose from existing titles</h3>
  <% Title.all.each do |title| %>
   <input type="checkbox" name="landmark[figure_id]" value="<%= title.id %>" id="title_<%= title.id %>"
   <%= 'checked' if @figure.titles.include?(title) %>><%= title.name %></input>
  <% end %>
  <br><br>

  <h3>Enter a new landmark</h3>
  <label>Landmark:<input type="text" id="new_landmark" name="landmark[name]" ></label>
  <br>
  <h3>Or, choose from existing landmarks</h3>
  <% Landmark.all.each do |landmark| %>
   <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>"
   <%= 'checked' if @figure.landmarks.include?(landmark) %>><%= landmark.name %></input>
  <% end %> -->
  <br><br>

  <input type="submit" value="Edit Figure">
</form>
