<h1>Create a New Figure</h1>
<form action="/figures" method="post">
  <label>Figure Name:<input type="text" id="figure_name" name="figure[name]" ></label>
  <br><br>

  <h3>Enter a new title</h3>
  <label>Title:<input type="text" id="new_title" name="title[name]" ></label>
  <br>
  <h3>Or, choose from existing titles</h3>
  <% Title.all.each do |title| %>
   <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>"><%= title.name %><br>
  <% end %> -->
  <br><br>

  <h3>Enter a new landmark</h3>
  <label>Landmark:<input type="text" id="new_landmark" name="landmark[name]" ></label>
  <br>
  <h3>Or, choose from existing landmarks</h3>
  <% Landmark.all.each do |landmark| %>
   <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>"><%= landmark.name %><br>
  <% end %> -->
  <br><br>

  <input type="submit" value="Create New Figure">
</form>
